.header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
    z-index: 9999;
}

.header__menu{
    display: none;
}

.header__bar{
    color: var(--crl-slate600);
    width: var(--size-3xl);
    height: var(--size-3xl);
    display: block;
}


/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
    .header__menu{
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
        gap: 2em;
    }
    
    .header__links{
        font-size: var(--size-lg);
        text-decoration: none;
        font-weight: 600;
        color: var(--crl-slate600);
        letter-spacing: 0.05em;
        transition: color 0.3s;
    }
    
    .header__links:hover{
        color: var(--crl-orange);
    }
    
    .header__line{
        border: 1px solid var(--crl-slate600);
        padding-top: 1.9em;
    }
    
    .header__sun{
        display: block;
        color: var(--crl-slate600);
        width: var(--size-3xl);
        height: var(--size-3xl);
    }

    .header__bar{
        display: none;
    }
    
}

/* lg */
@media (min-width: 1024px) {
    .header__links{
        font-size: var(--size-3xl);
    }
    
    
    .header__sun{
        width: var(--size-4xl);
        height: var(--size-4xl);
    }
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */